@model SuggestionPanel.Domain.Models.Suggestion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Suggestion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Problem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Problem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfSubmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfSubmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCardAnomaly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCardAnomaly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmissionOwner.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignedTo.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
